<div>
  <div id="today" class="mb-4 h5">{{ formattedDate }}</div>

  <div class="row">
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 mb-4" v-for="weather in weathers">
      <weather :weather="weather" :date="date" ref="weather" @click="weatherClick"></weather>
    </div>
  </div>
</div>
<div class="card weather-card" @click="click">
  <div class="card-body">
    <div class="city-name mb-3"><b>{{ weather.title }}</b></div>

    <div class="form-row align-items-center mb-2">
      <div class="col col-auto">
        <img v-bind:src="icon(showWeather)" class="weather-icon">
      </div>
      <div class="col">{{ showWeather.weather_state_name }}</div>
    </div>

    <div class="small">
      Temp: {{ Math.round(showWeather.the_temp) }}°C<br>
      Max: {{ Math.round(showWeather.max_temp) }}°C<br>
      Min: {{ Math.round(showWeather.min_temp) }}°C<br>
    </div>

  </div>
</div>